<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
     <listener
         class-name="org.sdet40.genericUtility.ListenerImplementation"/>
   </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.HMS.Doctor_test.DocTOAdminPatSearchTest"/>
      <class name="org.HMS.Doctor_test.AdminToDocTest"/>
      <class name="org.HMS.Doctor_test.DoctorToAdminManagePatTest"/>
      <class name="org.HMS.Doctor_test.DoctorToAddPatientAndSearchPatientTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
